/tetris/nbproject/private/
/SuperTetris/nbproject/private/
/TetrisFinal/nbproject/private/
/SuperTetris/build/
/SuperTetris/dist/
/TetrisFinal/.idea
/TetrisFinal/build
/TetrisFinal/out
/TetrisFinal/*.iml